RewriteEngine On
# Exclude actual files and directories from being rewritten
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Rewrite all other requests to index.php
RewriteRule ^(.*)$ index.php/$1 [L]